/**
 ** 以下代码来自MDX（https://flyhigher.top/develop/788.html）
 */
.menu-item.mdui-list-item,
.mdui-collapse-item-header.mdui-list-item,
a.mdui-list-item {
 border-radius:0 100px 100px 0;
 margin-right:5px
}

.mdui-snackbar.mdui-snackbar-bottom {
  border-radius: 8px 8px 0 0;
}